body{
	text-align:center;
	background:url('http://www.baltana.com/files/wallpapers-2/Basketball-Background-Wallpaper-06644.jpg');

}
#mainHeader{
	font-family: arial;
	background-color: black;
	color:white;
	border-style: dashed;
	border-width: 3px;
	border-color:white;
	margin:0 auto;
	padding:7px;
	text-shadow:2px 2px gray;
	width:40%;
}
.button{
	width:100px;
	height:30px;
}

#contain{
	margin:0 auto;
	border-bottom: 3px solid teal;
	text-align: center;
	display:flex;
	justify-content: center;
	background-color: black;
	padding:10px;
}

#contain2{
	margin:0 auto;
	text-align: center;
	display: flex;
	justify-content:center;
	padding: 30px;

}
.cardHead{
	font-family:futura;
	color:white;
	background-color:black;
	text-align: left;
	border-radius: 15%;
	margin:0 auto;
	
}

#div3{
	float:left;
	width:32%;
		

}

.searchField{
	color:white;
}
.input1and2{

	text-align: center;
	color:white;

}
img{
	border-radius: 50%;
}
table{
	background-color:black;
	font-family:arial;
	text-align: center;
	border-radius: 15%;
	padding:0px;
	overflow:auto;
}
.boldHead{
	color:lightgray;
	font-weight: bold;
}
td,th{
	
	color:white;
	text-align: center;
	overflow:auto;
	font-size:14px;
}

.headImg{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding:4px;
}

.masterDiv{
	display:flex;
	justify-content: space-between;
	flex-direction: row;
	border-bottom: 10px solid teal;
	height:120px;
	margin-bottom: 3px;
	
}
.masterDiv2{
		display:flex;
	justify-content: space-between;
	flex-direction: row;
	
	height:120px;
	margin-top: 3px;
}
#div1{
	margin:0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 5px;
	margin-bottom: 5px;

}


/*the middle comparison*/
.compareInfo{
	color:white;
	font-family: futura;
	font-size: 20px;
	padding:4px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: auto;
	
}
.playerCards{
	background-color: black;
	border:4px solid teal;
	border-radius: 5%;
	display:flex;
	flex-direction: column;
	padding:1px;
	flex-wrap: wrap;
	overflow:auto;
	justify-content: center;
	align-items: center;
	height:500px;
	text-align: center;
	
}
#divActualButton{
	width:200px;
	height:40px;
	color:white;
	overflow: auto;
	background-color:teal;
	border: 3px solid white;
	border-radius: 10%;

}
.button1and2{
	background-color: teal;
	color:white;
	border: 2px solid white;
	border-radius: 10%;

}
.tableHead{
	color:gray;
	border-top: 1px solid gray;

}
